.logo{
    height: 130px;
    width: auto;
   margin: auto;
    display: block;
    justify-content: center;
    display: flex;
        margin-top: 250px;;
}
.text{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}