
.album{
    // width: 140px;
    // height: 140px;
    border-radius: 3px;
    background-color: white;
}
.title{
    text-align: center;
}
.footer-bar{
    height: 50px;
    border-color: black;
    background-color: #383838;
}

#song{
    margin-top: auto;
font-size: 15px;
color: rgb(212, 208, 208);
text-align: center;
}
#speaker{
    color: white;
    margin-left: 80px;
}
#album{
   margin-top: -10px;
    font-size: 10px;
    color: rgb(49, 165, 49);
    text-align: center;
}
#arrow{
    font-size: 30px;
    text-align: center;
    color: white;
}
#pause{
    font-size: 25px;
    color: white;
}