<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <p class="title">Recently Played</p>
  <!-- Recently played -->
  <ion-slides [options]="slideOptions">
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/images.png" class="albumCover" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/1.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/images (1).jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/images.jpeg">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <p class="title">Recently Played</p>
  <!-- Recently played -->
  <ion-slides [options]="slideOptions">
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/images.png" class="albumCover" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/1.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/images (1).jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/images.jpeg">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <p class="title">Recently Played</p>
  <!-- Recently played -->
  <ion-slides [options]="slideOptions">
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/images.png" class="albumCover" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/1.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/images (1).jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="album">
        <img src="./assets/albums/images.jpeg">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-progress-bar value="0.1"></ion-progress-bar>
  <div class="footer-bar">
    <ion-row>
      <ion-col size="1" align-self: center>
        <!-- up arrow -->
        <ion-icon name="arrow-up"></ion-icon>
      </ion-col>
      <ion-col>
        <!-- Song Playing -->
        <p id="song">1000 Nights·FRENSHIP</p>
        <ion-row>
          <ion-col>
            <ion-icon name="volume-high" id="speaker"></ion-icon>
          </ion-col>
          <ion-col>
              <p id="album">HACKINTOSH Z400</p> 
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1">
        <!-- pause play -->
        <ion-icon name="pause"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

